.workout {
    padding: 1rem;
    width: 300px;
    min-height: 125px;
    background-color: #fff;
    color: #151116;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .workout__button {
    padding: 0.25rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: #151116;
    transition: all 0.15s;
    outline: none;
  }
  
  .workut__button:disabled {
    opacity: 0.6;
  }
  
  .workout__button:focus {
    color: white;
    background-color: #151116;
  }
  
  .workout__button:hover {
    color: white;
    background-color: #151116;
  }
  
  .workout__button:active {
    color: white;
    background-color: #151116;
  }
  
  .workout__button svg {
    font-size: 1.25rem;
  }
  
  .workout > * {
    margin-bottom: 0.25rem;
  }
  
  .workout__focus {
    font-weight: bold;
  }
  
  .workout__dateAdded {
    font-style: italic;
  }
  
  